@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
:root{
  --color-purple:#5752e6;
  --color-green:#47FCDE;
  --color-light-purple:#C378F6;
  --color-orange:#FFA16F;
  --color-gray:#E9E9EA;
  --color-bg:#101116;
  --color-chart-title-bg: #191A1F;
}

* > * {
  font-family: 'Space Grotesk', sans-serif;
  margin:0px;
  padding:0px;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.font-orbitron{
  font-family: 'Orbitron', sans-serif;
}
body{
  background-color: var(--color-bg);
}
.pt_header{
  background-color: var(--color-bg);
  color: var(--color-gray);
}
.bg-theme{
  background-color: var(--color-bg);
}
.bg-orange{
  background-color: var(--color-orange);
}
.bg-purple{
  background-color: var(--color-purple);
}
.bg-neon-green{
  background-color: var(--color-green);
}

.chart .title{
  position:absolute;
  top:40%;
}
.title_background{
  position:absolute;
  left: 7%;
  top:7%;
  background: var(--color-chart-title-bg);
  width: 86%;
  height: 86%;
  border-radius: 999px;
}
.bg-theme-2{
  background: var(--color-chart-title-bg);
}
.labels img{
  width: 24px;
  height: 24px;
}

.dark-shimmer{
  background: linear-gradient(to right, #191a1fa1 8%, #191a1fc4 18%, #191a1feb 33%) !important;
}
.dark-shimmer .shimmer-table-col {
  background: linear-gradient(to right, #1011168c 8%, #101116 18%, #101116f2 33%) !important;
}
.dark-shimmer .shimmer-table-row {
  background-color: #191a1f;
}

.div-network-icon{
    height: 26px;
    width: 26px;
    background-color: white;
    border-radius: 1000px;
}

.network-id-1{
  background-image: url("/public/images/explorer/etherscan.png");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}
.network-id-56{
  background-image: url("/public/images/explorer/bscscan.png");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}
.network-id-137{
  background-image: url("/public/images/explorer/polygonscan.svg");
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center;
}
